path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #999;
  stroke-opacity: .1;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: .5;
  stroke-width: 2px;
}

.link.friend {
  stroke: #5793a9;
}
.link.enemy {
  stroke: #ae5159;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}
.link.max {
  stroke-opacity: 1;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}


