path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
path.link.friend {
	stroke: #5793a9;
}
path.link.enemy {
	stroke: #ae5159;
}
path.link.maxgroup {
	stroke-width: 2.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.max {
  fill: #999;
  stroke: #000;
  stroke-width: 2px;
}
circle.maxenemies {
  fill: #ae5159;
}
circle.maxfriends {
  fill: rgb(67,122,173);
}

svg {
  border: 1px solid #ccc;
}