path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.max {
  fill: rgb(67,122,173);
}

svg {
  border: 1px solid #ccc;
}